---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/me/accounts
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"bd4d3fc369e657da23dd36846c4956bf"'
      Last-Modified:
      - Tue, 01 May 2012 20:36:20 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Accounts::Chute Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/me/accounts"},"data":[{"id":666,"created_at":"2012-01-17T19:53:42Z","updated_at":"2012-05-01T20:36:20Z","shortcut":"aKaqet","uid":"545","type":"chute","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","access_key":"a8127b7f6e1a9d226775d28eb9401ba028d516bfac301ddd45eb2d8ee80123de","access_secret":null,"email":"darko@getchute.com"}]}'
  recorded_at: Wed, 14 Aug 2013 21:39:41 GMT
recorded_with: VCR 2.5.0
