---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/me
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b16f7001f3d9f926f4c01e7206b8c653"'
      Last-Modified:
      - Sat, 15 Sep 2012 10:55:51 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"User Details","version":2,"code":200,"href":"https://api.getchute.com/v2/me?"},"data":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null,"email":"darko@getchute.com","oauth_token":"API
        KEY"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:28 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/users/545
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b16f7001f3d9f926f4c01e7206b8c653"'
      Last-Modified:
      - Sat, 15 Sep 2012 10:55:51 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"User Details","version":2,"code":200,"href":"https://api.getchute.com/v2/users/545?"},"data":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:29 GMT
recorded_with: VCR 2.2.5
