---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.google.com","event":"asset_created_once"}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '400'
      X-Available-Hourly-Calls:
      - '4999860'
      X-Available-Monthly-Calls:
      - '3719999801'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":["Event is invalid. Valid values are: asset_created
        / asset_updated / asset_deleted / parcel_created / album_created / album_updated
        / album_deleted / album_asset_moderated / comment_created"],"version":2,"code":400,"href":"https://api.getchute.com/v2/triggers?event=asset_created_once&trigger%5Bevent%5D=asset_created_once&trigger%5Burl%5D=http%3A%2F%2Fwww.google.com&url=http%3A%2F%2Fwww.google.com","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999801,"max_hourly_calls":5000000,"available_hourly_calls":4999860}}}'
  recorded_at: Mon, 08 Apr 2013 22:54:16 GMT
recorded_with: VCR 2.2.5
