---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.opencalais.com/HTTPexamples","event":"asset_created"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1bf0f282720ca785fb9809c23f03828d"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:23 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Details","version":2,"code":201,"href":"https://api.getchute.com/v2/triggers?event=asset_created&trigger%5Bevent%5D=asset_created&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples"},"data":{"id":36,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/36","title":"Trigger
        Details"}},"created_at":"2013-04-22T22:26:23Z","updated_at":"2013-04-22T22:26:23Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_created"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:23 GMT
recorded_with: VCR 2.2.5
