---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.opencalais.com/HTTPexamples","event":"asset_updated"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2b01cdf690be0182d66e29935912c97c"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:23 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Details","version":2,"code":201,"href":"https://api.getchute.com/v2/triggers?event=asset_updated&trigger%5Bevent%5D=asset_updated&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples"},"data":{"id":37,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/37","title":"Trigger
        Details"}},"created_at":"2013-04-22T22:26:23Z","updated_at":"2013-04-22T22:26:23Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_updated"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:23 GMT
- request:
    method: put
    uri: https://api.getchute.com/v2/triggers/37
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.opencalais.com/HTTPexamples","event":"album_asset_moderated"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2b01cdf690be0182d66e29935912c97c"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:24 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Details","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers/37?event=album_asset_moderated&trigger%5Bevent%5D=album_asset_moderated&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples"},"data":{"id":37,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/37","title":"Trigger
        Details"}},"created_at":"2013-04-22T22:26:23Z","updated_at":"2013-04-22T22:26:24Z","url":"http://www.opencalais.com/HTTPexamples","event":"album_asset_moderated"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:24 GMT
recorded_with: VCR 2.2.5
