---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.opencalais.com/HTTPexamples","event":"asset_created"}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f854cdc5afd19ed9a6197d3fc726e7ca"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:16 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999859'
      X-Available-Monthly-Calls:
      - '3719999800'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Details","version":2,"code":201,"href":"https://api.getchute.com/v2/triggers?event=asset_created&trigger%5Bevent%5D=asset_created&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999800,"max_hourly_calls":5000000,"available_hourly_calls":4999859}},"data":{"id":30,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/30","title":"Trigger
        Details"}},"created_at":"2013-04-08T22:54:16Z","updated_at":"2013-04-08T22:54:16Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_created"}}'
  recorded_at: Mon, 08 Apr 2013 22:54:16 GMT
recorded_with: VCR 2.2.5
