---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a71bda56f89418650fb806ee5591d8e2"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:24 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers?"},"data":[{"id":36,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/36","title":"Trigger
        Details"}},"created_at":"2013-04-22T22:26:23Z","updated_at":"2013-04-22T22:26:23Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_created"},{"id":37,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/37","title":"Trigger
        Details"}},"created_at":"2013-04-22T22:26:23Z","updated_at":"2013-04-22T22:26:24Z","url":"http://www.opencalais.com/HTTPexamples","event":"album_asset_moderated"}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:26 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/triggers/36
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c8f8c53fcc291a58d62d5277b0d78371"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers/36?"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:26 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/triggers/37
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cf62525e6a760b4f771cc84e44822db1"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers/37?"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:27 GMT
recorded_with: VCR 2.2.5
