---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.google.com","event":"asset_created_once"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '400'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":["Event is invalid. Valid values are: asset_created
        / asset_updated / asset_deleted / parcel_created / album_created / album_updated
        / album_deleted / album_asset_moderated / comment_created"],"version":2,"code":400,"href":"https://api.getchute.com/v2/triggers?event=asset_created_once&trigger%5Bevent%5D=asset_created_once&trigger%5Burl%5D=http%3A%2F%2Fwww.google.com&url=http%3A%2F%2Fwww.google.com"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:22 GMT
recorded_with: VCR 2.2.5
