---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.opencalais.com/HTTPexamples","event":"asset_deleted"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c1a45db7d16ddd13214a2e30e8b039d4"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:25 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Details","version":2,"code":201,"href":"https://api.getchute.com/v2/triggers?event=asset_deleted&trigger%5Bevent%5D=asset_deleted&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples"},"data":{"id":38,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/38","title":"Trigger
        Details"}},"created_at":"2013-04-22T22:26:25Z","updated_at":"2013-04-22T22:26:25Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_deleted"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:25 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/triggers/38
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"314c0d9ba998178c0fea8359c7eaf464"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers/38?"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:25 GMT
recorded_with: VCR 2.2.5
