---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"17d5caec8e7adc56eeb9d38a7ac4b662"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:17 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999856'
      X-Available-Monthly-Calls:
      - '3719999797'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999797,"max_hourly_calls":5000000,"available_hourly_calls":4999856}},"data":[{"id":30,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/30","title":"Trigger
        Details"}},"created_at":"2013-04-08T22:54:16Z","updated_at":"2013-04-08T22:54:16Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_created"},{"id":31,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/31","title":"Trigger
        Details"}},"created_at":"2013-04-08T22:54:17Z","updated_at":"2013-04-08T22:54:17Z","url":"http://www.opencalais.com/HTTPexamples","event":"album_asset_moderated"}]}'
  recorded_at: Mon, 08 Apr 2013 22:54:18 GMT
recorded_with: VCR 2.2.5
