---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/triggers
    body:
      encoding: UTF-8
      string: ! '{"url":"http://www.opencalais.com/HTTPexamples","event":"asset_deleted"}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b08dfbe8641c549c95fdff81191711d1"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:18 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999855'
      X-Available-Monthly-Calls:
      - '3719999796'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Details","version":2,"code":201,"href":"https://api.getchute.com/v2/triggers?event=asset_deleted&trigger%5Bevent%5D=asset_deleted&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999796,"max_hourly_calls":5000000,"available_hourly_calls":4999855}},"data":{"id":32,"links":{"self":{"href":"http://api.getchute.com/v2/triggers/32","title":"Trigger
        Details"}},"created_at":"2013-04-08T22:54:18Z","updated_at":"2013-04-08T22:54:18Z","url":"http://www.opencalais.com/HTTPexamples","event":"asset_deleted"}}'
  recorded_at: Mon, 08 Apr 2013 22:54:18 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/triggers/32
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"46478f66774d73beab44f3686465cf6d"'
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999854'
      X-Available-Monthly-Calls:
      - '3719999795'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Trigger Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/triggers/32?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999795,"max_hourly_calls":5000000,"available_hourly_calls":4999854}}}'
  recorded_at: Mon, 08 Apr 2013 22:54:19 GMT
recorded_with: VCR 2.2.5
