---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Votes"}}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a0e168c2468d985d7968e39c769a326a"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:23 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999847'
      X-Available-Monthly-Calls:
      - '3719999788'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Votes","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999788,"max_hourly_calls":5000000,"available_hourly_calls":4999847}},"data":{"id":2406203,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406203","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406203/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406203/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:54:23Z","updated_at":"2013-04-08T22:54:23Z","shortcut":"a5XJubto","name":"Album
        for Votes","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 08 Apr 2013 22:54:23 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2406203/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg"]}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d9bdd7ad9e4993a0c72e3aae6d97ad7d"'
      Last-Modified:
      - Wed, 05 Dec 2012 14:19:19 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999846'
      X-Available-Monthly-Calls:
      - '3719999787'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2406203/assets/import?&urls%5B%5D=http%3A%2F%2Fsphotos-f.ak.fbcdn.net%2Fhphotos-ak-snc6%2F6393_451942991531262_1464781412_n.jpg","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999787,"max_hourly_calls":5000000,"available_hourly_calls":4999846}},"data":[{"id":79517672,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406203/assets/79517672","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2406203/assets/79517672/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2406203/assets/79517672/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a5XJubto/assets/5nEb6mbik/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a5XJubto/assets/5nEb6mbik/votes","title":"Vote"}},"created_at":"2012-12-05T14:19:19Z","updated_at":"2012-12-05T14:19:19Z","thumbnail":"http://media.getchute.com/media/5nEb6mbik/75x75","url":"http://media.getchute.com/media/5nEb6mbik","shortcut":"5nEb6mbik","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/5nEb6mbik"},"service":"uploaded"}]}'
  recorded_at: Mon, 08 Apr 2013 22:54:23 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2406203/assets/79517672/votes
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e9dbddf88d30c26fc1909fbf929d154f"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:24 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999845'
      X-Available-Monthly-Calls:
      - '3719999786'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Vote Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2406203/assets/79517672/votes?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999786,"max_hourly_calls":5000000,"available_hourly_calls":4999845}},"data":{"id":8,"links":{"self":{"href":"http://api.getchute.com/v2/votes/8","title":"Vote
        Details"}},"created_at":"2013-04-08T22:54:24Z","updated_at":"2013-04-08T22:54:24Z","identifier":"eivtuvuddgguymqwslez1365461664","album_id":2406203,"asset_id":79517672}}'
  recorded_at: Mon, 08 Apr 2013 22:54:24 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/albums/2406203/assets/79517672/votes
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e9d08298f4f611d336543a2f15e9e238"'
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999844'
      X-Available-Monthly-Calls:
      - '3719999785'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Vote Count","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2406203/assets/79517672/votes?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999785,"max_hourly_calls":5000000,"available_hourly_calls":4999844}},"data":{"count":1}}'
  recorded_at: Mon, 08 Apr 2013 22:54:24 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/albums/2406203/assets/79517672/votes
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"56fe5b2a6ce7708d83c814a90e78cea7"'
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999843'
      X-Available-Monthly-Calls:
      - '3719999784'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Heart Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2406203/assets/79517672/votes?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999784,"max_hourly_calls":5000000,"available_hourly_calls":4999843}}}'
  recorded_at: Mon, 08 Apr 2013 22:54:25 GMT
recorded_with: VCR 2.2.5
