---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Votes"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e5e75a82be6481b5c8be989b0f16cba2"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:29 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Votes"},"data":{"id":2412458,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412458","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412458/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412458/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:26:29Z","updated_at":"2013-04-22T22:26:29Z","shortcut":"a7ACdqag","name":"Album
        for Votes","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:29 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412458/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d9bdd7ad9e4993a0c72e3aae6d97ad7d"'
      Last-Modified:
      - Wed, 05 Dec 2012 14:19:19 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412458/assets/import?&urls%5B%5D=http%3A%2F%2Fsphotos-f.ak.fbcdn.net%2Fhphotos-ak-snc6%2F6393_451942991531262_1464781412_n.jpg"},"data":[{"id":79517672,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412458/assets/79517672","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2412458/assets/79517672/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2412458/assets/79517672/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a7ACdqag/assets/5nEb6mbik/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a7ACdqag/assets/5nEb6mbik/votes","title":"Vote"}},"created_at":"2012-12-05T14:19:19Z","updated_at":"2012-12-05T14:19:19Z","thumbnail":"http://media.getchute.com/media/5nEb6mbik/75x75","url":"http://media.getchute.com/media/5nEb6mbik","shortcut":"5nEb6mbik","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/5nEb6mbik"},"service":"uploaded"}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:30 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412458/assets/79517672/votes
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"75f70ded096bbe2dbd51d702ebdc8719"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:30 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Vote Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412458/assets/79517672/votes?"},"data":{"id":16,"links":{"self":{"href":"http://api.getchute.com/v2/votes/16","title":"Vote
        Details"}},"created_at":"2013-04-22T22:26:30Z","updated_at":"2013-04-22T22:26:30Z","identifier":"xvoddkzvgymtlhgqonwt1366669590","album_id":2412458,"asset_id":79517672}}'
  recorded_at: Mon, 22 Apr 2013 22:26:30 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/albums/2412458/assets/79517672/votes
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3050f34b6a57baa469bd493b107006fa"'
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Vote Count","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412458/assets/79517672/votes?"},"data":{"count":1}}'
  recorded_at: Mon, 22 Apr 2013 22:26:31 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/albums/2412458/assets/79517672/votes
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3d8102700c66bdb1e90bdfe56d2b7f6c"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Heart Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412458/assets/79517672/votes?"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:31 GMT
recorded_with: VCR 2.2.5
