--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e109632f58397e26b953c827c1486da8\""
      Last-Modified: 
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4992"
      X-Available-Monthly-Calls: 
      - "3719925"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719925,\"max_hourly_calls\":5000,\"available_hourly_calls\":4992}},\"data\":[{\"id\":72569916,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/72569916\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-11-29T13:55:20Z\",\"updated_at\":\"2012-11-29T13:55:20Z\",\"thumbnail\":\"http://media.getchute.com/media/4UuKweohy/75x75\",\"url\":\"http://media.getchute.com/media/4UuKweohy\",\"shortcut\":\"4UuKweohy\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/4UuKweohy\"},\"service\":\"uploaded\"}]}"
  recorded_at: Thu, 29 Nov 2012 14:33:49 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/assets/72569916/tags
    body: 
      encoding: UTF-8
      string: "{\"tag\":[{\"tags\":[\"TAG\",\"AnotherTag\"]}]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 417
      message: Expectation Failed
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "417"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"error\":\"Required Parameters are missing or invalid. Sample JSON request body: {\\\"tags\\\":[\\\"tag1\\\",\\\"tag2\\\"]} or {\\\"tags\\\":\\\"tag1\\\"}\",\"version\":2,\"code\":417,\"href\":\"https://api.getchute.com/v2/assets/72569916/tags?tag%5B%5D%5Btags%5D%5B%5D=TAG&tag%5B%5D%5Btags%5D%5B%5D=AnotherTag\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719924,\"max_hourly_calls\":5000,\"available_hourly_calls\":4991}}}"
  recorded_at: Thu, 29 Nov 2012 14:33:50 GMT
[...]
- request: 
    method: put
    uri: https://api.getchute.com/v2/assets/72569916/tags
    body: 
      encoding: UTF-8
      string: "{\"tag\":[{\"tags\":[\"Replaced TAG1\",\"Replaced Tag2\"]}]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 417
      message: Expectation Failed
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "417"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"error\":\"Required Parameters are missing or invalid. Sample JSON request body: {\\\"tags\\\":[\\\"tag1\\\",\\\"tag2\\\"]} or {\\\"tags\\\":\\\"tag1\\\"}\",\"version\":2,\"code\":417,\"href\":\"https://api.getchute.com/v2/assets/72569916/tags?tag%5B%5D%5Btags%5D%5B%5D=Replaced+TAG1&tag%5B%5D%5Btags%5D%5B%5D=Replaced+Tag2\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719924,\"max_hourly_calls\":5000,\"available_hourly_calls\":4991}}}"
  recorded_at: Thu, 29 Nov 2012 14:36:01 GMT
recorded_with: VCR 2.2.5
