--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Album for Tags\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"27be037ba2b156a204ada1c2b1f74086\""
      Last-Modified: 
      - Thu, 29 Nov 2012 15:58:00 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4986"
      X-Available-Monthly-Calls: 
      - "3719908"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Tags&name=Album+for+Tags\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719908,\"max_hourly_calls\":5000,\"available_hourly_calls\":4986}},\"data\":{\"id\":2327745,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2327745\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2327745/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-29T15:58:00Z\",\"updated_at\":\"2012-11-29T15:58:00Z\",\"shortcut\":\"9Lyhsxkp\",\"name\":\"Album for Tags\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Thu, 29 Nov 2012 15:58:18 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2327745/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":[\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e109632f58397e26b953c827c1486da8\""
      Last-Modified: 
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4985"
      X-Available-Monthly-Calls: 
      - "3719907"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2327745/assets/import?&urls%5B%5D=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719907,\"max_hourly_calls\":5000,\"available_hourly_calls\":4985}},\"data\":[{\"id\":72569916,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/72569916\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-11-29T13:55:20Z\",\"updated_at\":\"2012-11-29T13:55:20Z\",\"thumbnail\":\"http://media.getchute.com/media/4UuKweohy/75x75\",\"url\":\"http://media.getchute.com/media/4UuKweohy\",\"shortcut\":\"4UuKweohy\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/4UuKweohy\"},\"service\":\"uploaded\"}]}"
  recorded_at: Thu, 29 Nov 2012 15:58:19 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2327745/assets/72569916/tags
    body: 
      encoding: UTF-8
      string: "{\"tags\":[\"TAG\",\"AnotherTag\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"5bc874e88a2d6715fe6e85757460579d\""
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4984"
      X-Available-Monthly-Calls: 
      - "3719906"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Tags Added\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2327745/assets/72569916/tags?tag%5Btags%5D%5B%5D=TAG&tag%5Btags%5D%5B%5D=AnotherTag&tags%5B%5D=TAG&tags%5B%5D=AnotherTag\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719906,\"max_hourly_calls\":5000,\"available_hourly_calls\":4984}},\"data\":true}"
  recorded_at: Thu, 29 Nov 2012 15:58:20 GMT
[...]
- request: 
    method: delete
    uri: https://api.getchute.com/v2/albums/2327745/assets/72569916/tags
    body: 
      encoding: UTF-8
      string: "{\"tags\":[\"Replaced TAG1\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 404
      message: Not Found
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "404"
      X-Available-Hourly-Calls: 
      - "4946"
      X-Available-Monthly-Calls: 
      - "3719901"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"error\":\"Not Found\",\"version\":2,\"code\":404,\"href\":\"https://api.getchute.com/v2/albums/2327745/assets/72569916/tags?application%5Btags%5D%5B%5D=Replaced+TAG1&tags%5B%5D=Replaced+TAG1\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719901,\"max_hourly_calls\":5000,\"available_hourly_calls\":4946}}}"
  recorded_at: Tue, 04 Dec 2012 16:21:59 GMT
recorded_with: VCR 2.2.5
