---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"page":null,"per_page":null}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"7d7d97075218818f484ea5f92a9e56d6"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:28:03 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999911'
      X-Available-Monthly-Calls:
      - '3719999852'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/albums?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999852,"max_hourly_calls":5000000,"available_hourly_calls":4999911}},"data":[{"id":2406176,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406176","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406176/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406176/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:28:03Z","updated_at":"2013-04-08T22:28:03Z","shortcut":"a5Xigefp","name":"Album
        for Votes","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null},{"id":2406175,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406175","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406175/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406175/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:27:52Z","updated_at":"2013-04-08T22:27:52Z","shortcut":"a5Xhtcza","name":"Album
        for Tags","description":null,"user":{"id":545,"links":{"s[...]
