---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"some album 2013-04-08 15:53:49 -0700","moderate_comments":true}}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f146acd211c8001b983e00821a473dc5"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:53:50 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999910'
      X-Available-Monthly-Calls:
      - '3719999851'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bmoderate_comments%5D=true&album%5Bname%5D=some+album+2013-04-08+15%3A53%3A49+-0700","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999851,"max_hourly_calls":5000000,"available_hourly_calls":4999910}},"data":{"id":2406191,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406191","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406191/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406191/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:53:50Z","updated_at":"2013-04-08T22:53:50Z","shortcut":"a5Xxnqza","name":"some
        album 2013-04-08 15:53:49 -0700","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":true,"parent_id":null}}'
  recorded_at: Mon, 08 Apr 2013 22:53:50 GMT
recorded_with: VCR 2.2.5
