---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Created Album"}}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2613cf878bd5872efb67be035aa0808c"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:53:53 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999903'
      X-Available-Monthly-Calls:
      - '3719999844'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999844,"max_hourly_calls":5000000,"available_hourly_calls":4999903}},"data":{"id":2406195,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406195","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406195/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406195/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:53:53Z","updated_at":"2013-04-08T22:53:53Z","shortcut":"a5XBubak","name":"Created
        Album","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 08 Apr 2013 22:53:53 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/albums/2406195
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f21a499aea9c9fb62997793fbdb00ad0"'
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999902'
      X-Available-Monthly-Calls:
      - '3719999843'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Deleted","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2406195?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999843,"max_hourly_calls":5000000,"available_hourly_calls":4999902}}}'
  recorded_at: Mon, 08 Apr 2013 22:53:54 GMT
recorded_with: VCR 2.2.5
