---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"page":null,"per_page":null}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e389f2753dfd4db92fe114f0a411322e"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:24:44 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/albums?"},"data":[{"id":2412445,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412445","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412445/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412445/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:24:44Z","updated_at":"2013-04-22T22:24:44Z","shortcut":"a7Apduiy","name":"Album
        for Votes","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null},{"id":2412444,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412444","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412444/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412444/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:24:34Z","updated_at":"2013-04-22T22:24:34Z","shortcut":"a7Aojgxw","name":"Album
        for Tags","description":null,"user":{"id":545,"links":{"s[...]
