---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Created Album"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"74a01869e94f2941fbfeaeaecb13afaa"'
      Last-Modified:
      - Sun, 11 Aug 2013 23:32:29 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums"},"data":{"id":2460567,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2460567","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2460567/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2460567/parcels","title":"Parcel
        Listing"}},"created_at":"2013-08-11T23:32:29Z","updated_at":"2013-08-11T23:32:29Z","shortcut":"ak6zmbjp","name":"Created
        Album","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Sun, 11 Aug 2013 23:32:27 GMT
[...]
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2460567/assets/8765443/move/2460568
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":"Not Found","version":2,"code":404,"href":"https://api.getchute.com/v2/albums/2460567/assets/8765443/move/2460568"}}'
  recorded_at: Sun, 11 Aug 2013 23:36:18 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2460567/assets/3452424/copy/2460568
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":"Not Found","version":2,"code":404,"href":"https://api.getchute.com/v2/albums/2460567/assets/3452424/copy/2460568"}}'
  recorded_at: Sun, 11 Aug 2013 23:36:19 GMT
recorded_with: VCR 2.5.0
