---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"some new album 2013-04-22 15:25:56 -0700","permission_view":2}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9ac9003a9dea72c183bf10128f636d18"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:25:56 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=some+new+album+2013-04-22+15%3A25%3A56+-0700&album%5Bpermission_view%5D=2"},"data":{"id":2412447,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412447","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412447/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412447/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:25:56Z","updated_at":"2013-04-22T22:25:56Z","shortcut":"a7Aruyqt","name":"some
        new album 2013-04-22 15:25:56 -0700","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:25:57 GMT
recorded_with: VCR 2.2.5
