---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Created Album"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"404a5e6de4cf9ed1ee40ac8d78e6783f"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:25:58 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album"},"data":{"id":2412449,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412449","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412449/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412449/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:25:58Z","updated_at":"2013-04-22T22:25:58Z","shortcut":"a7Atjblz","name":"Created
        Album","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:25:58 GMT
- request:
    method: put
    uri: https://api.getchute.com/v2/albums/2412449
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Updated Album"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:[...]
