---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Created Album"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"16bec966c5e8757b28d1653e100c420a"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:02 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album"},"data":{"id":2412452,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412452","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412452/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412452/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:26:02Z","updated_at":"2013-04-22T22:26:02Z","shortcut":"a7Awughq","name":"Created
        Album","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:02 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412452/add_assets
    body:
      encoding: UTF-8
      string: ! '{"asset_ids":[[71907823]]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"7215ee9c7d9dc229d2921a40e899ec5f"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! ' '
  recorded_at: Mon, 22 Apr 2013 22:26:02 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412452/remove_assets
    body:
      encoding: UTF-8
      string: ! '{"asset_ids":[[4342325,4342324,534543]]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"7215ee9c7d9dc229d2921a40e899ec5f"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! ' '
  recorded_at: Mon, 22 Apr 2013 22:26:03 GMT
recorded_with: VCR 2.2.5
