---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Created Album"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"cb60f9949ad98e0c4fb5bdc74ae0df86"'
      Last-Modified:
      - Mon, 17 Jun 2013 23:59:50 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums"},"data":{"id":2439247,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2439247","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2439247/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2439247/parcels","title":"Parcel
        Listing"}},"created_at":"2013-06-17T23:59:50Z","updated_at":"2013-06-17T23:59:50Z","shortcut":"aeyHofbg","name":"Created
        Album","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 17 Jun 2013 23:59:51 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2439247/assets/import
    body:
      encoding: UTF-8
      string: ! '{"instagram_ids":["428193445044210234_1895177"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"27e76886d3d127b588dcea4d6caa273c"'
      Last-Modified:
      - Mon, 17 Jun 2013 23:58:03 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2439247/assets/import"},"data":[{"id":540716246,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2439247/assets/540716246","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2439247/assets/540716246/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2439247/assets/540716246/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/2439247/assets/540716246/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/2439247/assets/540716246/votes","title":"Vote"}},"created_at":"2013-06-17T23:58:03Z","updated_at":"2013-06-17T23:58:03Z","thumbnail":"http://distilleryimage6.s3.amazonaws.com/913457e09ed411e284b222000a1fbcf6_5.jpg","url":"http://media.getchute.com/media/AAMZMbrws","shortcut":"AAMZMbrws","type":"image","caption":"#PHD4","dimensions":{"width":612,"height":612},"location":{"latitude":"37.48327006","longitude":"-122.14953661"},"source":{"source":"import","source_id":"428193445044210234_1895177","source_url":"http://distilleryimage6.s3.amazonaws.com/913457e09ed411e284b222000a1fbcf6_7.jpg","service":"instagram","import_id":"428193445044210234_1895177","import_url":"http://distilleryimage6.s3.amazonaws.com/913457e09ed411e284b222000a1fbcf6_7.jpg"},"service":"instagram"}]}'
  recorded_at: Mon, 17 Jun 2013 23:59:53 GMT
recorded_with: VCR 2.2.5
