--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Created Album\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"fc27fb572d6cbe0ce7f57ebbdf10da0f\""
      Last-Modified: 
      - Mon, 26 Nov 2012 12:02:48 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4998"
      X-Available-Monthly-Calls: 
      - "3719988"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album&name=Created+Album\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719988,\"max_hourly_calls\":5000,\"available_hourly_calls\":4998}},\"data\":{\"id\":2325952,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2325952\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2325952/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-26T12:02:48Z\",\"updated_at\":\"2012-11-26T12:02:48Z\",\"shortcut\":\"9L5mhpag\",\"name\":\"Created Album\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Mon, 26 Nov 2012 12:03:12 GMT
- request: 
    method: put
    uri: https://api.getchute.com/v2/albums/2325952
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Updated Album\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content[...]
