--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Created Album\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"5bba1c5fd6fffcdb11c57c5284bf05ca\""
      Last-Modified: 
      - Wed, 28 Nov 2012 09:45:29 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "5000"
      X-Available-Monthly-Calls: 
      - "3719970"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album&name=Created+Album\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719970,\"max_hourly_calls\":5000,\"available_hourly_calls\":5000}},\"data\":{\"id\":2327121,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2327121\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2327121/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-28T09:45:29Z\",\"updated_at\":\"2012-11-28T09:45:29Z\",\"shortcut\":\"9Lodbnip\",\"name\":\"Created Album\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Wed, 28 Nov 2012 09:44:59 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2327121/add_assets
    body: 
      encoding: UTF-8
      string: "{\"asset_ids\":\"[123123,4342324,534543]\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Etag: 
      - "\"7215ee9c7d9dc229d2921a40e899ec5f\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4999"
      X-Available-Monthly-Calls: 
      - "3719969"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: " "
  recorded_at: Wed, 28 Nov 2012 09:45:00 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2327121/remove_assets
    body: 
      encoding: UTF-8
      string: "{\"asset_ids\":\"[123123,4342324,534543]\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Etag: 
      - "\"7215ee9c7d9dc229d2921a40e899ec5f\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4998"
      X-Available-Monthly-Calls: 
      - "3719968"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: " "
  recorded_at: Wed, 28 Nov 2012 09:45:01 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e109632f58397e26b953c827c1486da8\""
      Last-Modified: 
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4998"
      X-Available-Monthly-Calls: 
      - "3719920"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719920,\"max_hourly_calls\":5000,\"available_hourly_calls\":4998}},\"data\":[{\"id\":72569916,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/72569916\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-11-29T13:55:20Z\",\"updated_at\":\"2012-11-29T13:55:20Z\",\"thumbnail\":\"http://media.getchute.com/media/4UuKweohy/75x75\",\"url\":\"http://media.getchute.com/media/4UuKweohy\",\"shortcut\":\"4UuKweohy\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/4UuKweohy\"},\"service\":\"uploaded\"}]}"
  recorded_at: Thu, 29 Nov 2012 15:25:03 GMT
recorded_with: VCR 2.2.5
