--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"some album 2012-11-26 13:00:27 +0100\",\"moderate_comments\":true}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"af53b0d2bce5e8b428c065bd3001fdb2\""
      Last-Modified: 
      - Mon, 26 Nov 2012 12:00:05 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4999"
      X-Available-Monthly-Calls: 
      - "3719989"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bmoderate_comments%5D=true&album%5Bname%5D=some+album+2012-11-26+13%3A00%3A27+%2B0100&moderate_comments=true&name=some+album+2012-11-26+13%3A00%3A27+%2B0100\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719989,\"max_hourly_calls\":5000,\"available_hourly_calls\":4999}},\"data\":{\"id\":2325951,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2325951\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2325951/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-26T12:00:05Z\",\"updated_at\":\"2012-11-26T12:00:05Z\",\"shortcut\":\"9L5lpsnt\",\"name\":\"some album 2012-11-26 13:00:27 +0100\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":true,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Mon, 26 Nov 2012 12:00:29 GMT
recorded_with: VCR 2.2.5
