--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"61b80269f4f7cb3bbd4d227ed9222592\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:41:46 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4990"
      X-Available-Monthly-Calls: 
      - "3719803"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Listing\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719803,\"max_hourly_calls\":5000,\"available_hourly_calls\":4990}},\"data\":[{\"id\":2336712,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2336712\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2336712/assets\",\"title\":\"Asset Listing\"},\"parcels\":{\"href\":\"http://api.getchute.com/v2/albums/2336712/parcels\",\"title\":\"Parcel Listing\"}},\"created_at\":\"2012-12-13T14:41:46Z\",\"updated_at\":\"2012-12-13T14:41:46Z\",\"shortcut\":\"9NSUbrip\",\"name\":\"Album for Flags\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":1,\"videos\":0,\"inbox\":0}},{\"id\":2336711,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2336711\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2336711/assets\",\"title\":\"Asset Listing\"},\"parcels\":{\"href\":\"http://api.getchute.com/v2/albums/2336711/parcels\",\"title\":\"Parcel Listing\"}},\"created_at\":\"2012-12-13T14:41:26Z\",\"updated_at\":\"2012-12-13T14:41:26Z\",\"shortcut\":\"9NSTxmgp\",\"name\":\"Album for Tags\",\"description\":null,\"user\":{[...]
