--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Created Album\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"3fe81f60d6e9378c35db178a5be76e90\""
      Last-Modified: 
      - Mon, 26 Nov 2012 13:19:27 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "5000"
      X-Available-Monthly-Calls: 
      - "3719986"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album&name=Created+Album\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719986,\"max_hourly_calls\":5000,\"available_hourly_calls\":5000}},\"data\":{\"id\":2325979,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2325979\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2325979/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-26T13:19:27Z\",\"updated_at\":\"2012-11-26T13:19:27Z\",\"shortcut\":\"9L5Nrjsz\",\"name\":\"Created Album\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Mon, 26 Nov 2012 13:19:51 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/albums/2325979
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"9ec3eb08e244b4eac21bee22da9b37d2\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4999"
      X-Available-Monthly-Calls: 
      - "3719985"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2325979?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719985,\"max_hourly_calls\":5000,\"available_hourly_calls\":4999}}}"
  recorded_at: Mon, 26 Nov 2012 13:19:52 GMT
recorded_with: VCR 2.2.5
