--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"dc1526c6a2bc5ab250f7a210d823477f\""
      Last-Modified: 
      - Mon, 26 Nov 2012 11:10:08 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "5000"
      X-Available-Monthly-Calls: 
      - "3719990"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Listing\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719990,\"max_hourly_calls\":5000,\"available_hourly_calls\":5000}},\"data\":[{\"id\":2325939,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2325939\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2325939/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-26T11:10:08Z\",\"updated_at\":\"2012-11-26T11:10:08Z\",\"shortcut\":\"9L59bmxu\",\"name\":\"some album 2012-11-26 12:10:23 +0100\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":true,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}},{\"id\":2325937,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2325937\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2325937/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-26T11:00:36Z\",\"updated_at\":\"2012-11-26T11:00:36Z\",\"shortcut\":\"9L57whuj\",\"name\":\"some other album\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\"[...]
