--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Created Album\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f31d78bf685e2c428a43c15c1872c686\""
      Last-Modified: 
      - Mon, 26 Nov 2012 13:37:37 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4996"
      X-Available-Monthly-Calls: 
      - "3719982"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album&name=Created+Album\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719982,\"max_hourly_calls\":5000,\"available_hourly_calls\":4996}},\"data\":{\"id\":2325987,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2325987\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2325987/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-11-26T13:37:37Z\",\"updated_at\":\"2012-11-26T13:37:37Z\",\"shortcut\":\"9L5Vhilb\",\"name\":\"Created Album\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Mon, 26 Nov 2012 13:37:53 GMT
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums/2325987/stats
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"9c8dba3fdef8910a2b527f34fd9d6b97\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4995"
      X-Available-Monthly-Calls: 
      - "3719981"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"data\":{\"user_counts\":{\"via_upload\":0,\"via_import\":0},\"source_counts\":{\"uploads\":0,\"imports\":0}}}"
  recorded_at: Mon, 26 Nov 2012 13:37:55 GMT
recorded_with: VCR 2.2.5
