--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Created Album\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"823bf7e507aba0b344529a99ba9aafc3\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:46:45 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4938"
      X-Available-Monthly-Calls: 
      - "3719751"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Created+Album&name=Created+Album\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719751,\"max_hourly_calls\":5000,\"available_hourly_calls\":4938}},\"data\":{\"id\":2336724,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2336724\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2336724/assets\",\"title\":\"Asset Listing\"},\"parcels\":{\"href\":\"http://api.getchute.com/v2/albums/2336724/parcels\",\"title\":\"Parcel Listing\"}},\"created_at\":\"2012-12-13T14:46:45Z\",\"updated_at\":\"2012-12-13T14:46:45Z\",\"shortcut\":\"9NT6flrd\",\"name\":\"Created Album\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Thu, 13 Dec 2012 14:46:27 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2336724/add_assets
    body: 
      encoding: UTF-8
      string: "{\"shortcuts\":[\"5nEb6mbik\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 422
      message: Unprocessable Entity
    headers: 
      Content-Type: 
      - text/html; charset=utf-8
      Status: 
      - "422"
      X-Available-Hourly-Calls: 
      - "4937"
      X-Available-Monthly-Calls: 
      - "3719750"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: " "
  recorded_at: Thu, 13 Dec 2012 14:46:28 GMT
recorded_with: VCR 2.2.5
