--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.google.com\",\"event\":\"asset_created_once\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Status: 
      - "400"
      X-Available-Hourly-Calls: 
      - "4976"
      X-Available-Monthly-Calls: 
      - "3719931"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"error\":[\"Url did not respond with 200 response code\",\"Event is invalid. Valid values are: asset_created / asset_updated / asset_deleted / parcel_created / album_created / album_updated / album_deleted / album_asset_moderated / comment_created\"],\"version\":2,\"code\":400,\"href\":\"https://api.getchute.com/v2/triggers?event=asset_created_once&trigger%5Bevent%5D=asset_created_once&trigger%5Burl%5D=http%3A%2F%2Fwww.google.com&url=http%3A%2F%2Fwww.google.com\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719931,\"max_hourly_calls\":5000,\"available_hourly_calls\":4976}}}"
  recorded_at: Tue, 04 Dec 2012 16:06:59 GMT
recorded_with: VCR 2.2.5
