--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"98e8eb5f4c16afd3f930f4dc9ffb8064\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:10 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4976"
      X-Available-Monthly-Calls: 
      - "3719789"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Listing\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/triggers?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719789,\"max_hourly_calls\":5000,\"available_hourly_calls\":4976}},\"data\":[{\"id\":19,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/19\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-13T14:42:08Z\",\"updated_at\":\"2012-12-13T14:42:08Z\",\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_created\"},{\"id\":20,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/20\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-13T14:42:09Z\",\"updated_at\":\"2012-12-13T14:42:10Z\",\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"album_asset_moderated\"}]}"
  recorded_at: Thu, 13 Dec 2012 14:41:58 GMT
recorded_with: VCR 2.2.5
