--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_deleted\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f07fc91ea64f056fb352996a6e4c8e66\""
      Last-Modified: 
      - Tue, 04 Dec 2012 16:15:52 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4951"
      X-Available-Monthly-Calls: 
      - "3719906"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/triggers?event=asset_deleted&trigger%5Bevent%5D=asset_deleted&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719906,\"max_hourly_calls\":5000,\"available_hourly_calls\":4951}},\"data\":{\"id\":17,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/17\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-04T16:15:52Z\",\"updated_at\":\"2012-12-04T16:15:52Z\"}}"
  recorded_at: Tue, 04 Dec 2012 16:15:55 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/triggers/17
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8f1e74c8b878eb1e3c13de65fbf21ca4\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4950"
      X-Available-Monthly-Calls: 
      - "3719905"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/triggers/17?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719905,\"max_hourly_calls\":5000,\"available_hourly_calls\":4950}}}"
  recorded_at: Tue, 04 Dec 2012 16:15:56 GMT
recorded_with: VCR 2.2.5
