--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_deleted\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"21aaee289a19c8dc560c424d809891e7\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:41:50 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4975"
      X-Available-Monthly-Calls: 
      - "3719788"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/triggers?event=asset_deleted&trigger%5Bevent%5D=asset_deleted&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719788,\"max_hourly_calls\":5000,\"available_hourly_calls\":4975}},\"data\":{\"id\":21,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/21\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-13T14:41:50Z\",\"updated_at\":\"2012-12-13T14:41:50Z\",\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_deleted\"}}"
  recorded_at: Thu, 13 Dec 2012 14:41:59 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/triggers/21
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"56735242eb42580033c95b6e70955016\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4974"
      X-Available-Monthly-Calls: 
      - "3719787"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/triggers/21?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719787,\"max_hourly_calls\":5000,\"available_hourly_calls\":4974}}}"
  recorded_at: Thu, 13 Dec 2012 14:42:00 GMT
recorded_with: VCR 2.2.5
