--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_updated\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"3c61643a5f1cf2d63314ae3ccac7d3c0\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:09 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4978"
      X-Available-Monthly-Calls: 
      - "3719791"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/triggers?event=asset_updated&trigger%5Bevent%5D=asset_updated&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719791,\"max_hourly_calls\":5000,\"available_hourly_calls\":4978}},\"data\":{\"id\":20,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/20\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-13T14:42:09Z\",\"updated_at\":\"2012-12-13T14:42:09Z\",\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_updated\"}}"
  recorded_at: Thu, 13 Dec 2012 14:41:51 GMT
- request: 
    method: put
    uri: https://api.getchute.com/v2/triggers/20
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"album_asset_moderated\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
    [...]
