--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8e471cae57b82f797b34a07841fb9339\""
      Last-Modified: 
      - Tue, 04 Dec 2012 16:15:50 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4949"
      X-Available-Monthly-Calls: 
      - "3719904"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Listing\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/triggers?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719904,\"max_hourly_calls\":5000,\"available_hourly_calls\":4949}},\"data\":[{\"id\":15,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/15\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-04T16:15:41Z\",\"updated_at\":\"2012-12-04T16:15:42Z\"},{\"id\":16,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/16\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-04T16:15:50Z\",\"updated_at\":\"2012-12-04T16:15:50Z\"}]}"
  recorded_at: Tue, 04 Dec 2012 16:15:56 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/triggers/15
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"2535bfa974b2a138354667fff99003b9\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4948"
      X-Available-Monthly-Calls: 
      - "3719903"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/triggers/15?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719903,\"max_hourly_calls\":5000,\"available_hourly_calls\":4948}}}"
  recorded_at: Tue, 04 Dec 2012 16:15:57 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/triggers/16
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"66c5a6afaa607bf97b9b3b3b85996502\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4947"
      X-Available-Monthly-Calls: 
      - "3719902"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/triggers/16?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719902,\"max_hourly_calls\":5000,\"available_hourly_calls\":4947}}}"
  recorded_at: Tue, 04 Dec 2012 16:15:58 GMT
recorded_with: VCR 2.2.5
