--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_created\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c3ec2c6269029bbe4f8c8ce6972c49d3\""
      Last-Modified: 
      - Tue, 04 Dec 2012 16:15:50 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4953"
      X-Available-Monthly-Calls: 
      - "3719908"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/triggers?event=asset_created&trigger%5Bevent%5D=asset_created&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719908,\"max_hourly_calls\":5000,\"available_hourly_calls\":4953}},\"data\":{\"id\":16,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/16\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-04T16:15:50Z\",\"updated_at\":\"2012-12-04T16:15:50Z\"}}"
  recorded_at: Tue, 04 Dec 2012 16:15:52 GMT
recorded_with: VCR 2.2.5
