--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/triggers
    body: 
      encoding: UTF-8
      string: "{\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_created\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"70924d449519bb2d72594d74cf903fb7\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:08 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4979"
      X-Available-Monthly-Calls: 
      - "3719792"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Trigger Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/triggers?event=asset_created&trigger%5Bevent%5D=asset_created&trigger%5Burl%5D=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples&url=http%3A%2F%2Fwww.opencalais.com%2FHTTPexamples\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719792,\"max_hourly_calls\":5000,\"available_hourly_calls\":4979}},\"data\":{\"id\":19,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/triggers/19\",\"title\":\"Trigger Details\"}},\"created_at\":\"2012-12-13T14:42:08Z\",\"updated_at\":\"2012-12-13T14:42:08Z\",\"url\":\"http://www.opencalais.com/HTTPexamples\",\"event\":\"asset_created\"}}"
  recorded_at: Thu, 13 Dec 2012 14:41:50 GMT
recorded_with: VCR 2.2.5
