--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Album for Votes\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7df0d80524d2b40ac5459223a783be76\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:23 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4952"
      X-Available-Monthly-Calls: 
      - "3719765"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Votes&name=Album+for+Votes\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719765,\"max_hourly_calls\":5000,\"available_hourly_calls\":4952}},\"data\":{\"id\":2336719,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2336719\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2336719/assets\",\"title\":\"Asset Listing\"},\"parcels\":{\"href\":\"http://api.getchute.com/v2/albums/2336719/parcels\",\"title\":\"Parcel Listing\"}},\"created_at\":\"2012-12-13T14:42:23Z\",\"updated_at\":\"2012-12-13T14:42:23Z\",\"shortcut\":\"9NT1krna\",\"name\":\"Album for Votes\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Thu, 13 Dec 2012 14:42:31 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2336719/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":[\"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d9bdd7ad9e4993a0c72e3aae6d97ad7d\""
      Last-Modified: 
      - Wed, 05 Dec 2012 14:19:19 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4951"
      X-Available-Monthly-Calls: 
      - "3719764"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2336719/assets/import?&urls%5B%5D=http%3A%2F%2Fsphotos-f.ak.fbcdn.net%2Fhphotos-ak-snc6%2F6393_451942991531262_1464781412_n.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719764,\"max_hourly_calls\":5000,\"available_hourly_calls\":4951}},\"data\":[{\"id\":79517672,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/79517672\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/79517672/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/79517672/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-12-05T14:19:19Z\",\"updated_at\":\"2012-12-05T14:19:19Z\",\"thumbnail\":\"http://media.getchute.com/media/5nEb6mbik/75x75\",\"url\":\"http://media.getchute.com/media/5nEb6mbik\",\"shortcut\":\"5nEb6mbik\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/5nEb6mbik\"},\"service\":\"uploaded\"}]}"
  recorded_at: Thu, 13 Dec 2012 14:42:32 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2336719/assets/79517672/votes
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"797a39754a7445a4004627e3b84e5c1a\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:24 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4950"
      X-Available-Monthly-Calls: 
      - "3719763"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Vote Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2336719/assets/79517672/votes?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719763,\"max_hourly_calls\":5000,\"available_hourly_calls\":4950}},\"data\":{\"id\":4,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/votes/4\",\"title\":\"Vote Details\"}},\"created_at\":\"2012-12-13T14:42:24Z\",\"updated_at\":\"2012-12-13T14:42:24Z\",\"identifier\":\"rgytdspgrnygapriyedh1355409744\",\"album_id\":2336719,\"asset_id\":79517672}}"
  recorded_at: Thu, 13 Dec 2012 14:42:34 GMT
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums/2336719/assets/79517672/votes
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4f4022aa36c6c3216debe629b842ecbc\""
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4949"
      X-Available-Monthly-Calls: 
      - "3719762"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Vote Count\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2336719/assets/79517672/votes?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719762,\"max_hourly_calls\":5000,\"available_hourly_calls\":4949}},\"data\":{\"count\":1}}"
  recorded_at: Thu, 13 Dec 2012 14:42:34 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/albums/2336719/assets/79517672/votes
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"67e01c8773559fd3f7f0ca5863707ab8\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4948"
      X-Available-Monthly-Calls: 
      - "3719761"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Heart Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2336719/assets/79517672/votes?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719761,\"max_hourly_calls\":5000,\"available_hourly_calls\":4948}}}"
  recorded_at: Thu, 13 Dec 2012 14:42:36 GMT
recorded_with: VCR 2.2.5
