--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Album for Votes\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"8a6734f05c7c36cf140c7fb139ea6260\""
      Last-Modified: 
      - Thu, 06 Dec 2012 10:58:13 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "5000"
      X-Available-Monthly-Calls: 
      - "3719876"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Votes&name=Album+for+Votes\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719876,\"max_hourly_calls\":5000,\"available_hourly_calls\":5000}},\"data\":{\"id\":2331825,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2331825\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2331825/assets\",\"title\":\"Asset Listing\"},\"parcels\":{\"href\":\"http://api.getchute.com/v2/albums/2331825/parcels\",\"title\":\"Parcel Listing\"}},\"created_at\":\"2012-12-06T10:58:13Z\",\"updated_at\":\"2012-12-06T10:58:13Z\",\"shortcut\":\"9MC5rjem\",\"name\":\"Album for Votes\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Thu, 06 Dec 2012 10:58:18 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2331825/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":[\"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d9bdd7ad9e4993a0c72e3aae6d97ad7d\""
      Last-Modified: 
      - Wed, 05 Dec 2012 14:19:19 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4999"
      X-Available-Monthly-Calls: 
      - "3719875"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2331825/assets/import?&urls%5B%5D=http%3A%2F%2Fsphotos-f.ak.fbcdn.net%2Fhphotos-ak-snc6%2F6393_451942991531262_1464781412_n.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719875,\"max_hourly_calls\":5000,\"available_hourly_calls\":4999}},\"data\":[{\"id\":79517672,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/79517672\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/79517672/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/79517672/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-12-05T14:19:19Z\",\"updated_at\":\"2012-12-05T14:19:19Z\",\"thumbnail\":\"http://media.getchute.com/media/5nEb6mbik/75x75\",\"url\":\"http://media.getchute.com/media/5nEb6mbik\",\"shortcut\":\"5nEb6mbik\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/5nEb6mbik\"},\"service\":\"uploaded\"}]}"
  recorded_at: Thu, 06 Dec 2012 10:58:20 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2331825/assets/79517672/votes
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"192aab90e936ebd8d572985c5c031256\""
      Last-Modified: 
      - Thu, 06 Dec 2012 10:58:15 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4998"
      X-Available-Monthly-Calls: 
      - "3719874"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Vote Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2331825/assets/79517672/votes?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719874,\"max_hourly_calls\":5000,\"available_hourly_calls\":4998}},\"data\":{\"id\":1,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/votes/1\",\"title\":\"Vote Details\"}},\"created_at\":\"2012-12-06T10:58:15Z\",\"updated_at\":\"2012-12-06T10:58:15Z\",\"identifier\":\"vxkxxnnsgnkmjajzzuhn1354791495\",\"album_id\":2331825,\"asset_id\":79517672}}"
  recorded_at: Thu, 06 Dec 2012 10:58:21 GMT
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums/2331825/assets/79517672/votes
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7775fae90b8c41e8e7b695fe64b4a218\""
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4997"
      X-Available-Monthly-Calls: 
      - "3719873"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Vote Count\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2331825/assets/79517672/votes?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719873,\"max_hourly_calls\":5000,\"available_hourly_calls\":4997}},\"data\":{\"count\":1}}"
  recorded_at: Thu, 06 Dec 2012 10:58:22 GMT
recorded_with: VCR 2.2.5
