--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":\"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"b4bde8f2acd30c3bd2fe927a6ba536ca\""
      Last-Modified: 
      - Wed, 28 Nov 2012 12:30:14 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4993"
      X-Available-Monthly-Calls: 
      - "3719948"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Fimage.coloring.com%2Fpictures%2Foverlay%2Fcat-and-fancy-mouse.gif\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719948,\"max_hourly_calls\":5000,\"available_hourly_calls\":4993}},\"data\":[{\"id\":71940888,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/71940888\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/71940888/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/71940888/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-11-28T12:30:14Z\",\"updated_at\":\"2012-11-28T12:30:14Z\",\"thumbnail\":\"http://media.getchute.com/media/4RR6Usfpx/75x75\",\"url\":\"http://media.getchute.com/media/4RR6Usfpx\",\"shortcut\":\"4RR6Usfpx\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/4RR6Usfpx\"},\"service\":\"uploaded\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"}}]}"
  recorded_at: Wed, 28 Nov 2012 12:29:45 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/assets/71940888
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"a4c75756b9e624b0c059e5616d0951d5\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4992"
      X-Available-Monthly-Calls: 
      - "3719947"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Asset Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/71940888?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719947,\"max_hourly_calls\":5000,\"available_hourly_calls\":4992}}}"
  recorded_at: Wed, 28 Nov 2012 12:30:32 GMT
recorded_with: VCR 2.2.5
