--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":\"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"cb746172f80e379bca99fdddcf483672\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:36 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4960"
      X-Available-Monthly-Calls: 
      - "3719773"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Fimage.coloring.com%2Fpictures%2Foverlay%2Fcat-and-fancy-mouse.gif\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719773,\"max_hourly_calls\":5000,\"available_hourly_calls\":4960}},\"data\":[{\"id\":98360273,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/98360273\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/98360273/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/98360273/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-12-13T14:42:36Z\",\"updated_at\":\"2012-12-13T14:42:36Z\",\"thumbnail\":\"http://media.getchute.com/media/6EI01jmpx/75x75\",\"url\":\"http://media.getchute.com/media/6EI01jmpx\",\"shortcut\":\"6EI01jmpx\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/6EI01jmpx\"},\"service\":\"uploaded\",\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"}}]}"
  recorded_at: Thu, 13 Dec 2012 14:42:19 GMT
- request: 
    method: delete
    uri: https://api.getchute.com/v2/assets/98360273
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"4f69e7b1487a0baf854f3d2fedc6ce80\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4959"
      X-Available-Monthly-Calls: 
      - "3719772"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Asset Deleted\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/98360273?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719772,\"max_hourly_calls\":5000,\"available_hourly_calls\":4959}}}"
  recorded_at: Thu, 13 Dec 2012 14:42:25 GMT
recorded_with: VCR 2.2.5
