--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":\"http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"c9ca3f955bdf76e7d7643d1e2bd29108\""
      Last-Modified: 
      - Wed, 28 Nov 2012 12:12:43 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4995"
      X-Available-Monthly-Calls: 
      - "3719950"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Fwww.wix.com%2Fblog%2Fwp-content%2Fuploads%2F2012%2F08%2FHowToGoBeyondStockPhotoCliches.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719950,\"max_hourly_calls\":5000,\"available_hourly_calls\":4995}},\"data\":[{\"id\":71907823,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/71907823\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/71907823/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/71907823/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-11-28T11:12:02Z\",\"updated_at\":\"2012-11-28T12:12:43Z\",\"thumbnail\":\"http://media.getchute.com/media/4RIvBzgbp/75x75\",\"url\":\"http://media.getchute.com/media/4RIvBzgbp\",\"shortcut\":\"4RIvBzgbp\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/4RIvBzgbp\"},\"service\":\"uploaded\"}]}"
  recorded_at: Wed, 28 Nov 2012 12:14:11 GMT
- request: 
    method: put
    uri: https://api.getchute.com/v2/assets/71907823
    body: 
      encoding: UTF-8
      string: "{\"caption\":\"New Asset Title\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      C[...]
