--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums/2327121/assets
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"7ce977ad85425936f50d9a9ce92b245e\""
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4999"
      X-Available-Monthly-Calls: 
      - "3719962"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2327121/assets?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719962,\"max_hourly_calls\":5000,\"available_hourly_calls\":4999}},\"data\":[],\"pagination\":{\"current_page\":1,\"next_page\":\"https://api.getchute.com/v2/albums/2327121/assets?&page=2\",\"previous_page\":null,\"first_page\":\"https://api.getchute.com/v2/albums/2327121/assets?\",\"per_page\":5}}"
  recorded_at: Wed, 28 Nov 2012 11:04:37 GMT
recorded_with: VCR 2.2.5
