---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Comments"}}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ad62ede2eed4b42524e206a84e5a9688"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:03 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999883'
      X-Available-Monthly-Calls:
      - '3719999824'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Comments","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999824,"max_hourly_calls":5000000,"available_hourly_calls":4999883}},"data":{"id":2406198,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406198","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406198/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406198/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:54:03Z","updated_at":"2013-04-08T22:54:03Z","shortcut":"a5XEeqmc","name":"Album
        for Comments","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 08 Apr 2013 22:54:04 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2406198/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg"]}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e109632f58397e26b953c827c1486da8"'
      Last-Modified:
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999882'
      X-Available-Monthly-Calls:
      - '3719999823'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2406198/assets/import?&urls%5B%5D=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999823,"max_hourly_calls":5000000,"available_hourly_calls":4999882}},"data":[{"id":72569916,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406198/assets/72569916","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2406198/assets/72569916/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2406198/assets/72569916/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a5XEeqmc/assets/4UuKweohy/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a5XEeqmc/assets/4UuKweohy/votes","title":"Vote"}},"created_at":"2012-11-29T13:55:20Z","updated_at":"2012-11-29T13:55:20Z","thumbnail":"http://media.getchute.com/media/4UuKweohy/75x75","url":"http://media.getchute.com/media/4UuKweohy","shortcut":"4UuKweohy","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4UuKweohy"},"service":"uploaded"}]}'
  recorded_at: Mon, 08 Apr 2013 22:54:04 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2406198/assets/72569916/comments
    body:
      encoding: UTF-8
      string: ! '{"comment_text":"Some random comment","name":"Darko","email":"random@someemail.com"}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"4283dafb1ba2a333e9a85d0c192effb7"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:05 GMT
      Status:
      - '201'
[...]
