---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Comments"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"fef5eb644e79181c81ebfb1cd1fd287a"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:12 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Comments"},"data":{"id":2412454,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412454","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412454/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412454/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:26:12Z","updated_at":"2013-04-22T22:26:12Z","shortcut":"a7Aygaki","name":"Album
        for Comments","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:12 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412454/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e109632f58397e26b953c827c1486da8"'
      Last-Modified:
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412454/assets/import?&urls%5B%5D=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg"},"data":[{"id":72569916,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412454/assets/72569916","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2412454/assets/72569916/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2412454/assets/72569916/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a7Aygaki/assets/4UuKweohy/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a7Aygaki/assets/4UuKweohy/votes","title":"Vote"}},"created_at":"2012-11-29T13:55:20Z","updated_at":"2012-11-29T13:55:20Z","thumbnail":"http://media.getchute.com/media/4UuKweohy/75x75","url":"http://media.getchute.com/media/4UuKweohy","shortcut":"4UuKweohy","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4UuKweohy"},"service":"uploaded"}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:12 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412454/assets/72569916/comments
    body:
      encoding: UTF-8
      string: ! '{"comment_text":"My Test Comment for listing"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2087bb1a63690629cdcec5cf9f385580"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:13 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Comment Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412454/assets/72569916/comments?comment%5Bcomment_text%5D=My+Test+Comment+for+listing&comment_text=My+Test+Comment+for+listing"},"data":{"id":697,"links":{"self":{"href":"http://api.getchute.com/v2/comments/697","title":"Comment
        Details"}},"created_at":"2013-04-22T22:26:13Z","updated_at":"2013-04-22T22:26:13Z","comment_text":"My
        Test Comment for listing","name":null,"email":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:13 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/albums/2412454/assets/72569916/comments
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2087bb1a63690629cdcec5cf9f385580"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:13 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Comment Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412454/assets/72569916/comments?"},"data":[{"id":697,"links":{"self":{"href":"http://api.getchute.com/v2/comments/697","title":"Comment
        Details"}},"created_at":"2013-04-22T22:26:13Z","updated_at":"2013-04-22T22:26:13Z","comment_text":"My
        Test Comment for listing","name":null,"email":null}],"pagination":{"current_page":1,"next_page":null,"previous_page":null,"first_page":"https://api.getchute.com/v2/albums/2412454/assets/72569916/comments?","per_page":5}}'
  recorded_at: Mon, 22 Apr 2013 22:26:13 GMT
recorded_with: VCR 2.2.5
