---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Flags"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"2085e3a44f86f98194a82102eb92296b"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:14 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Flags"},"data":{"id":2412455,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412455","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412455/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412455/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:26:14Z","updated_at":"2013-04-22T22:26:14Z","shortcut":"a7Azystp","name":"Album
        for Flags","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:14 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412455/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"d9bdd7ad9e4993a0c72e3aae6d97ad7d"'
      Last-Modified:
      - Wed, 05 Dec 2012 14:19:19 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412455/assets/import?&urls%5B%5D=http%3A%2F%2Fsphotos-f.ak.fbcdn.net%2Fhphotos-ak-snc6%2F6393_451942991531262_1464781412_n.jpg"},"data":[{"id":79517672,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412455/assets/79517672","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2412455/assets/79517672/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2412455/assets/79517672/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a7Azystp/assets/5nEb6mbik/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a7Azystp/assets/5nEb6mbik/votes","title":"Vote"}},"created_at":"2012-12-05T14:19:19Z","updated_at":"2012-12-05T14:19:19Z","thumbnail":"http://media.getchute.com/media/5nEb6mbik/75x75","url":"http://media.getchute.com/media/5nEb6mbik","shortcut":"5nEb6mbik","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/5nEb6mbik"},"service":"uploaded"}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:14 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412455/assets/79517672/flags
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e6cc8c9e81ef053dc039f25ff03f9e55"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:15 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Flag Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412455/assets/79517672/flags?"},"data":{"id":13,"links":{"self":{"href":"http://api.getchute.com/v2/flags/13","title":"Flag
        Details"}},"created_at":"2013-04-22T22:26:15Z","updated_at":"2013-04-22T22:26:15Z","identifier":"wpmukflesnfnnlgjxeri1366669575","album_id":2412455,"asset_id":79517672}}'
  recorded_at: Mon, 22 Apr 2013 22:26:15 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/albums/2412455/assets/79517672/flags
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"08b7736d974ca9dbcabbcb155c590c7b"'
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Flag Count","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412455/assets/79517672/flags?"},"data":{"count":1}}'
  recorded_at: Mon, 22 Apr 2013 22:26:15 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/albums/2412455/assets/79517672/flags
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"f613244e20ac75b6f1bf6ca363338c2c"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Flag Removed","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412455/assets/79517672/flags?"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:16 GMT
recorded_with: VCR 2.2.5
