---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg","http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/11/27/1354010019306/Brad-Pitt-010.jpg","http://datastore01.rediff.com/h1500-w1500/thumb/52605E5F6D6C65665C60665C696C7371/fuugfaw7icy0hq4j.D.0.Richa-Gangopadhyay-Latest-Hot-Photo.jpg"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"638e131880d8730e0c13e2a49e710c1c"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:06 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/import?&urls%5B%5D=http%3A%2F%2Fwww.wix.com%2Fblog%2Fwp-content%2Fuploads%2F2012%2F08%2FHowToGoBeyondStockPhotoCliches.jpg&urls%5B%5D=http%3A%2F%2Fstatic.guim.co.uk%2Fsys-images%2FGuardian%2FPix%2Fpictures%2F2012%2F11%2F27%2F1354010019306%2FBrad-Pitt-010.jpg&urls%5B%5D=http%3A%2F%2Fdatastore01.rediff.com%2Fh1500-w1500%2Fthumb%2F52605E5F6D6C65665C60665C696C7371%2Ffuugfaw7icy0hq4j.D.0.Richa-Gangopadhyay-Latest-Hot-Photo.jpg"},"data":[{"id":71907823,"links":{"self":{"href":"http://api.getchute.com/v2/assets/71907823","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/71907823/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/71907823/geo","title":"Geo
        Details"}},"created_at":"2012-11-28T11:12:02Z","updated_at":"2013-04-22T22:26:06Z","thumbnail":"http://media.getchute.com/media/4RIvBzgbp/75x75","url":"http://media.getchute.com/media/4RIvBzgbp","shortcut":"4RIvBzgbp","type":"image","caption":"New
        Asset Title","dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4RIvBzgbp"},"service":"uploaded"},{"id":336387456,"links":{"self":{"href":"http://api.getchute.com/v2/assets/336387456","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/336387456/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/336387456/geo","title":"Geo
        Details"}},"created_at":"2013-03-25T18:27:00Z","updated_at":"2013-03-25T18:27:00Z","thumbnail":"http://media.getchute.com/media/mLr[...]
- request:
    method: get
    uri: https://api.getchute.com/v2/assets/71907823/geo
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ac3cadbc270032a8b31bccb36bd9fe86"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Geo Details","warning":"Deprecated route: This
        will be disabled soon. Please include an album in the route to access an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/71907823/geo?"},"data":{}}'
  recorded_at: Mon, 22 Apr 2013 22:26:09 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/assets/geo/-36.88155833,174.70791111/500
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"39eb5765912438351bd01b29f880a85d"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Assets for location: -36.88155833,174.70791111
        within a 500 metres redius","warning":"Deprecated route: This will be disabled
        soon. Please include an album in the route to access an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/geo/-36.88155833,174.70791111/500?"},"data":[],"pagination":{"current_page":1,"next_page":"https://api.getchute.com/v2/assets/geo/-36.88155833,174.70791111/500?&page=2","previous_page":null,"first_page":"https://api.getchute.com/v2/assets/geo/-36.88155833,174.70791111/500?","per_page":5}}'
  recorded_at: Mon, 22 Apr 2013 22:26:09 GMT
recorded_with: VCR 2.2.5
