---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"104097dabe8b4fbdf5079c3412bdfc13"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:07 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Fimage.coloring.com%2Fpictures%2Foverlay%2Fcat-and-fancy-mouse.gif"},"data":[{"id":398301941,"links":{"self":{"href":"http://api.getchute.com/v2/assets/398301941","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/398301941/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/398301941/geo","title":"Geo
        Details"}},"created_at":"2013-04-22T22:26:07Z","updated_at":"2013-04-22T22:26:07Z","thumbnail":"http://media.getchute.com/media/qXewRuwqp/75x75","url":"http://media.getchute.com/media/qXewRuwqp","shortcut":"qXewRuwqp","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"import","source_id":null,"source_url":"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/qXewRuwqp"},"service":"uploaded","user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null}}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:07 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/assets/398301941
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"1feb8e39c151103404d75ff12c28e1c1"'
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Asset Deleted","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/398301941?"}}'
  recorded_at: Mon, 22 Apr 2013 22:26:08 GMT
recorded_with: VCR 2.2.5
