---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif"}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"3df895af1a4943a1db687cf2ec3f2d33"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:00 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999888'
      X-Available-Monthly-Calls:
      - '3719999829'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Fimage.coloring.com%2Fpictures%2Foverlay%2Fcat-and-fancy-mouse.gif","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999829,"max_hourly_calls":5000000,"available_hourly_calls":4999888}},"data":[{"id":365323301,"links":{"self":{"href":"http://api.getchute.com/v2/assets/365323301","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/365323301/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/365323301/geo","title":"Geo
        Details"}},"created_at":"2013-04-08T22:54:00Z","updated_at":"2013-04-08T22:54:00Z","thumbnail":"http://media.getchute.com/media/oIRhjlwta/75x75","url":"http://media.getchute.com/media/oIRhjlwta","shortcut":"oIRhjlwta","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"import","source_id":null,"source_url":"http://image.coloring.com/pictures/overlay/cat-and-fancy-mouse.gif","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/oIRhjlwta"},"service":"uploaded","user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null}}]}'
  recorded_at: Mon, 08 Apr 2013 22:54:01 GMT
- request:
    method: delete
    uri: https://api.getchute.com/v2/assets/365323301
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"106edd281a42af24d3c0083a0cab84de"'
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999887'
      X-Available-Monthly-Calls:
      - '3719999828'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Asset Deleted","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/365323301?","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999828,"max_hourly_calls":5000000,"available_hourly_calls":4999887}}}'
  recorded_at: Mon, 08 Apr 2013 22:54:01 GMT
recorded_with: VCR 2.2.5
