---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":"http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"c9ca3f955bdf76e7d7643d1e2bd29108"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:24:20 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/import?&urls=http%3A%2F%2Fwww.wix.com%2Fblog%2Fwp-content%2Fuploads%2F2012%2F08%2FHowToGoBeyondStockPhotoCliches.jpg"},"data":[{"id":71907823,"links":{"self":{"href":"http://api.getchute.com/v2/assets/71907823","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/71907823/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/71907823/geo","title":"Geo
        Details"}},"created_at":"2012-11-28T11:12:02Z","updated_at":"2013-04-22T22:24:20Z","thumbnail":"http://media.getchute.com/media/4RIvBzgbp/75x75","url":"http://media.getchute.com/media/4RIvBzgbp","shortcut":"4RIvBzgbp","type":"image","caption":"New
        Asset Title","dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4RIvBzgbp"},"service":"uploaded"}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:04 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/assets/71907823
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"c9ca3f955bdf76e7d7643d1e2[...]
