---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/albums/2327121/assets
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Etag:
      - ! '"0331a052c993f5b3b558f3180d48d85b"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:24:20 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Asset Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2327121/assets?"},"data":[{"id":336387457,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2327121/assets/336387457","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2327121/assets/336387457/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2327121/assets/336387457/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/9Lodbnip/assets/mLrK9uvyh/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/9Lodbnip/assets/mLrK9uvyh/votes","title":"Vote"}},"created_at":"2013-03-25T18:27:00Z","updated_at":"2013-03-25T18:27:00Z","thumbnail":"http://media.getchute.com/m/mLrK9uvyh/c/2327121/75x75","url":"http://media.getchute.com/m/mLrK9uvyh/c/2327121","shortcut":"mLrK9uvyh","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"import","source_id":null,"source_url":"http://datastore01.rediff.com/h1500-w1500/thumb/52605E5F6D6C65665C60665C696C7371/fuugfaw7icy0hq4j.D.0.Richa-Gangopadhyay-Latest-Hot-Photo.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/m/mLrK9uvyh/c/2327121"},"service":"uploaded","user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"votes":0,"hearts":0,"tags":[],"chute_asset_id":"541316993"},{"id":336387456,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2327121/assets/336387456","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2327121/assets/336387456/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2327121/assets/336387456/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/9Lodbnip/assets/mLrK8hvfb/hearts","title":"Heart"},"vote":{"href":"http://api.g[...]
