---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg","http://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2012/11/27/1354010019306/Brad-Pitt-010.jpg","http://datastore01.rediff.com/h1500-w1500/thumb/52605E5F6D6C65665C60665C696C7371/fuugfaw7icy0hq4j.D.0.Richa-Gangopadhyay-Latest-Hot-Photo.jpg"]}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"638e131880d8730e0c13e2a49e710c1c"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:27:36 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999893'
      X-Available-Monthly-Calls:
      - '3719999834'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","warning":"Deprecated route:
        This will be disabled soon. Please include an album in the route to access
        an asset.","version":2,"code":200,"href":"https://api.getchute.com/v2/assets/import?&urls%5B%5D=http%3A%2F%2Fwww.wix.com%2Fblog%2Fwp-content%2Fuploads%2F2012%2F08%2FHowToGoBeyondStockPhotoCliches.jpg&urls%5B%5D=http%3A%2F%2Fstatic.guim.co.uk%2Fsys-images%2FGuardian%2FPix%2Fpictures%2F2012%2F11%2F27%2F1354010019306%2FBrad-Pitt-010.jpg&urls%5B%5D=http%3A%2F%2Fdatastore01.rediff.com%2Fh1500-w1500%2Fthumb%2F52605E5F6D6C65665C60665C696C7371%2Ffuugfaw7icy0hq4j.D.0.Richa-Gangopadhyay-Latest-Hot-Photo.jpg","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999834,"max_hourly_calls":5000000,"available_hourly_calls":4999893}},"data":[{"id":71907823,"links":{"self":{"href":"http://api.getchute.com/v2/assets/71907823","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/71907823/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/71907823/geo","title":"Geo
        Details"}},"created_at":"2012-11-28T11:12:02Z","updated_at":"2013-04-08T22:27:36Z","thumbnail":"http://media.getchute.com/media/4RIvBzgbp/75x75","url":"http://media.getchute.com/media/4RIvBzgbp","shortcut":"4RIvBzgbp","type":"image","caption":"New
        Asset Title","dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://www.wix.com/blog/wp-content/uploads/2012/08/HowToGoBeyondStockPhotoCliches.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4RIvBzgbp"},"service":"uploaded"},{"id":336387456,"links":{"self":{"href":"http://api.getchute.com/v2/assets/336387456","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/assets/336387456/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/assets/336387456/geo","title":"Geo
        Details"}},"created_at":"2013-03-25T18:27:00Z","updated_at":"2013-03-25T18:27:00Z","thumbnail":"http://media.getchute.com/media/mLr[...]
