---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Tags"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"8537b4eccdf342fbdd783d057410d1e6"'
      Last-Modified:
      - Mon, 22 Apr 2013 22:26:20 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Tags"},"data":{"id":2412457,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412457","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2412457/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2412457/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-22T22:26:20Z","updated_at":"2013-04-22T22:26:20Z","shortcut":"a7ABrksu","name":"Album
        for Tags","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 22 Apr 2013 22:26:20 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412457/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e109632f58397e26b953c827c1486da8"'
      Last-Modified:
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2412457/assets/import?&urls%5B%5D=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg"},"data":[{"id":72569916,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2412457/assets/72569916","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2412457/assets/72569916/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2412457/assets/72569916/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a7ABrksu/assets/4UuKweohy/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a7ABrksu/assets/4UuKweohy/votes","title":"Vote"}},"created_at":"2012-11-29T13:55:20Z","updated_at":"2012-11-29T13:55:20Z","thumbnail":"http://media.getchute.com/media/4UuKweohy/75x75","url":"http://media.getchute.com/media/4UuKweohy","shortcut":"4UuKweohy","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4UuKweohy"},"service":"uploaded"}]}'
  recorded_at: Mon, 22 Apr 2013 22:26:20 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2412457/assets/72569916/tags
    body:
      encoding: UTF-8
      string: ! '{"tags":["TAG","AnotherTag"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ccf5cb6f5d93480b308f82baacce6544"'
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Tags Added","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412457/assets/72569916/tags?tag%5Btags%5D%5B%5D=TAG&tag%5Btags%5D%5B%5D=AnotherTag&tags%5B%5D=TAG&tags%5B%5D=AnotherTag"},"data":["TAG","AnotherTag"]}'
  recorded_at: Mon, 22 Apr 2013 22:26:21 GMT
[...]
- request:
    method: put
    uri: https://api.getchute.com/v2/albums/2412457/assets/72569916/tags
    body:
      encoding: UTF-8
      string: ! '{"tags":["Replaced TAG1","Replaced Tag2"]}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"b9f0c21ed2a878a345dc225ad673e807"'
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Tags Updated","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2412457/assets/72569916/tags?tag%5Btags%5D%5B%5D=Replaced+TAG1&tag%5Btags%5D%5B%5D=Replaced+Tag2&tags%5B%5D=Replaced+TAG1&tags%5B%5D=Replaced+Tag2"},"data":["Replaced
        TAG1","Replaced Tag2"]}'
  recorded_at: Mon, 22 Apr 2013 22:26:22 GMT
recorded_with: VCR 2.2.5
