---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/albums
    body:
      encoding: UTF-8
      string: ! '{"album":{"name":"Album for Tags"}}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"ca2f245bf705645cc08106734d4ef034"'
      Last-Modified:
      - Mon, 08 Apr 2013 22:54:13 GMT
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999866'
      X-Available-Monthly-Calls:
      - '3719999807'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Album Details","version":2,"code":201,"href":"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Tags","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999807,"max_hourly_calls":5000000,"available_hourly_calls":4999866}},"data":{"id":2406202,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406202","title":"Album
        Details"},"assets":{"href":"http://api.getchute.com/v2/albums/2406202/assets","title":"Asset
        Listing"},"parcels":{"href":"http://api.getchute.com/v2/albums/2406202/parcels","title":"Parcel
        Listing"}},"created_at":"2013-04-08T22:54:13Z","updated_at":"2013-04-08T22:54:13Z","shortcut":"a5XIjdgs","name":"Album
        for Tags","description":null,"user":{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null},"moderate_media":false,"moderate_comments":false,"parent_id":null}}'
  recorded_at: Mon, 08 Apr 2013 22:54:13 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2406202/assets/import
    body:
      encoding: UTF-8
      string: ! '{"urls":["http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg"]}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"e109632f58397e26b953c827c1486da8"'
      Last-Modified:
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status:
      - '200'
      X-Available-Hourly-Calls:
      - '4999865'
      X-Available-Monthly-Calls:
      - '3719999806'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Imported Assets","version":2,"code":200,"href":"https://api.getchute.com/v2/albums/2406202/assets/import?&urls%5B%5D=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999806,"max_hourly_calls":5000000,"available_hourly_calls":4999865}},"data":[{"id":72569916,"links":{"self":{"href":"http://api.getchute.com/v2/albums/2406202/assets/72569916","title":"Asset
        Details"},"exif":{"href":"http://api.getchute.com/v2/albums/2406202/assets/72569916/exif","title":"Exif
        Details"},"geo":{"href":"http://api.getchute.com/v2/albums/2406202/assets/72569916/geo","title":"Geo
        Details"},"heart":{"href":"http://api.getchute.com/v2/albums/a5XIjdgs/assets/4UuKweohy/hearts","title":"Heart"},"vote":{"href":"http://api.getchute.com/v2/albums/a5XIjdgs/assets/4UuKweohy/votes","title":"Vote"}},"created_at":"2012-11-29T13:55:20Z","updated_at":"2012-11-29T13:55:20Z","thumbnail":"http://media.getchute.com/media/4UuKweohy/75x75","url":"http://media.getchute.com/media/4UuKweohy","shortcut":"4UuKweohy","type":"image","caption":null,"dimensions":{"width":null,"height":null},"location":null,"source":{"source":"imported","source_id":null,"source_url":"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg","service":null,"import_id":null,"import_url":null,"original_url":"http://media.getchute.com/media/4UuKweohy"},"service":"uploaded"}]}'
  recorded_at: Mon, 08 Apr 2013 22:54:13 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/albums/2406202/assets/72569916/tags
    body:
      encoding: UTF-8
      string: ! '{"tags":["TAG","AnotherTag"]}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"48a0a32b2617d11206eb2a9c8562380f"'
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999863'
      X-Available-Monthly-Calls:
      - '3719999804'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Tags Added","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2406202/assets/72569916/tags?tag%5Btags%5D%5B%5D=TAG&tag%5Btags%5D%5B%5D=AnotherTag&tags%5B%5D=TAG&tags%5B%5D=AnotherTag","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999804,"max_hourly_calls":5000000,"available_hourly_calls":4999863}},"data":["TAG","AnotherTag"]}'
  recorded_at: Mon, 08 Apr 2013 22:54:14 GMT
[...]
- request:
    method: put
    uri: https://api.getchute.com/v2/albums/2406202/assets/72569916/tags
    body:
      encoding: UTF-8
      string: ! '{"tags":["Replaced TAG1","Replaced Tag2"]}'
    headers:
      Authorization:
      - OAuth API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"5c71e4ab8f4b2ca0915e6c5577652f31"'
      Status:
      - '201'
      X-Available-Hourly-Calls:
      - '4999861'
      X-Available-Monthly-Calls:
      - '3719999802'
      X-Max-Hourly-Calls:
      - '5000000'
      X-Max-Monthly-Calls:
      - '3720000000'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Tags Updated","version":2,"code":201,"href":"https://api.getchute.com/v2/albums/2406202/assets/72569916/tags?tag%5Btags%5D%5B%5D=Replaced+TAG1&tag%5Btags%5D%5B%5D=Replaced+Tag2&tags%5B%5D=Replaced+TAG1&tags%5B%5D=Replaced+Tag2","api_limits":{"max_monthly_calls":3720000000,"available_monthly_calls":3719999802,"max_hourly_calls":5000000,"available_hourly_calls":4999861}},"data":["Replaced
        TAG1","Replaced Tag2"]}'
  recorded_at: Mon, 08 Apr 2013 22:54:15 GMT
recorded_with: VCR 2.2.5
