---
http_interactions:
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns
    body:
      encoding: UTF-8
      string: ! '{"page":null,"per_page":null}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"a39e8075a654f52053a4b6ac574926c5"'
      Last-Modified:
      - Thu, 29 Aug 2013 00:31:14 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Campaign Listing","version":2,"code":200,"href":"https://api.getchute.com/v2/campaigns"},"data":[{"id":77,"links":{"self":{"href":"http://api.getchute.com/v2/campaigns/77","title":"Campaign
        Details"}},"created_at":"2013-08-29T00:31:14Z","updated_at":"2013-08-29T00:31:14Z","name":"Test","start_date":null,"end_date":null,"s3_access_key":null,"s3_bucket":null,"s3_secret":null,"ftp_hostname":null,"ftp_username":null,"ftp_password":null,"app_id_facebook":null,"app_secret_facebook":null,"app_id_flickr":null,"app_secret_flickr":null,"app_id_instagram":null,"app_secret_instagram":null,"app_id_google":null,"app_secret_google":null,"users":[{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null,"email":"darko@getchute.com","status":"verified"}]}]}'
  recorded_at: Thu, 19 Sep 2013 22:37:29 GMT
recorded_with: VCR 2.5.0
