---
http_interactions:
- request:
    method: post
    uri: https://api.getchute.com/v2/campaigns
    body:
      encoding: UTF-8
      string: ! '{"campaign":{"name":"Created Campaign"}}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"159edd8b2943a13422b97c199ae8a34b"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:31:58 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Campaign Details","version":2,"code":201,"href":"https://api.getchute.com/v2/campaigns"},"data":{"id":312,"links":{"self":{"href":"http://api.getchute.com/v2/campaigns/312","title":"Campaign
        Details"}},"created_at":"2013-10-24T21:31:58Z","updated_at":"2013-10-24T21:31:58Z","name":"Created
        Campaign","start_date":null,"end_date":null,"s3_access_key":null,"s3_bucket":null,"s3_secret":null,"ftp_hostname":null,"ftp_username":null,"ftp_password":null,"app_id_facebook":null,"app_secret_facebook":null,"app_id_flickr":null,"app_secret_flickr":null,"app_id_instagram":null,"app_secret_instagram":null,"app_id_google":null,"app_secret_google":null,"users":[{"id":545,"links":{"self":{"href":"http://api.getchute.com/v2/users/545","title":"User
        Details"}},"created_at":"2012-01-17T19:53:39Z","updated_at":"2012-09-15T10:55:51Z","name":"darko1002001","username":"darko1002001","avatar":"http://static.getchute.com/v1/images/avatar-100x100.png","profile":null,"email":"darko@getchute.com","status":"verified"}]}}'
  recorded_at: Thu, 24 Oct 2013 21:31:58 GMT
- request:
    method: post
    uri: https://api.getchute.com/v2/campaigns/312/store/temp
    body:
      encoding: UTF-8
      string: ! '{"a":"b"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"57672d26d8b2643412d0b75ea9e6c6a8"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:31:59 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Stores::Temp Details","version":2,"code":201,"href":"https://api.getchute.com/v2/campaigns/312/store/temp"},"data":{"id":"526991cf8a9eb036ef000001","created_at":"2013-10-24T21:31:59Z","updated_at":"2013-10-24T21:31:59Z","value":"{\"a\":\"b\"}","url":"http://s3.amazonaws.com/store.getchute.com/526991cf8a9eb036ef000001"}}'
  recorded_at: Thu, 24 Oct 2013 21:31:59 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns/312/store/temp/526991cf8a9eb036ef000001
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"57672d26d8b2643412d0b75ea9e6c6a8"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:31:59 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Stores::Temp Details","version":2,"code":200,"href":"https://api.getchute.com/v2/campaigns/312/store/temp/526991cf8a9eb036ef000001"},"data":{"id":"526991cf8a9eb036ef000001","created_at":"2013-10-24T21:31:59Z","updated_at":"2013-10-24T21:31:59Z","value":"{\"a\":\"b\"}","url":"http://s3.amazonaws.com/store.getchute.com/526991cf8a9eb036ef000001"}}'
  recorded_at: Thu, 24 Oct 2013 21:31:59 GMT
[...]
- request:
    method: post
    uri: https://api.getchute.com/v2/campaigns/312/store/private
    body:
      encoding: UTF-8
      string: ! '{"a":"b"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"13217ec840916f534039aa85400a2328"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:32:01 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Stores::Private Details","version":2,"code":201,"href":"https://api.getchute.com/v2/campaigns/312/store/private"},"data":{"id":"526991d18a9eb036ef000002","created_at":"2013-10-24T21:32:01Z","updated_at":"2013-10-24T21:32:01Z","value":"{\"a\":\"b\"}","url":null}}'
  recorded_at: Thu, 24 Oct 2013 21:32:00 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns/312/store/private/526991d18a9eb036ef000002
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"13217ec840916f534039aa85400a2328"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:32:01 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Stores::Private Details","version":2,"code":200,"href":"https://api.getchute.com/v2/campaigns/312/store/private/526991d18a9eb036ef000002"},"data":{"id":"526991d18a9eb036ef000002","created_at":"2013-10-24T21:32:01Z","updated_at":"2013-10-24T21:32:01Z","value":"{\"a\":\"b\"}","url":null}}'
  recorded_at: Thu, 24 Oct 2013 21:32:01 GMT
[...]
- request:
    method: post
    uri: https://api.getchute.com/v2/campaigns/312/store/public
    body:
      encoding: UTF-8
      string: ! '{"a":"b"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9ead386fed08d0052e65de9ef3e34b2c"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:32:03 GMT
      Status:
      - '201'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Stores::Public Details","version":2,"code":201,"href":"https://api.getchute.com/v2/campaigns/312/store/public"},"data":{"id":"526991d38a9eb036ef000003","created_at":"2013-10-24T21:32:03Z","updated_at":"2013-10-24T21:32:03Z","value":"{\"a\":\"b\"}","url":"http://s3.amazonaws.com/store.getchute.com/526991d38a9eb036ef000003"}}'
  recorded_at: Thu, 24 Oct 2013 21:32:03 GMT
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns/312/store/public/526991d38a9eb036ef000003
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - ! '"9ead386fed08d0052e65de9ef3e34b2c"'
      Last-Modified:
      - Thu, 24 Oct 2013 21:32:03 GMT
      Status:
      - '200'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"title":"Stores::Public Details","version":2,"code":200,"href":"https://api.getchute.com/v2/campaigns/312/store/public/526991d38a9eb036ef000003"},"data":{"id":"526991d38a9eb036ef000003","created_at":"2013-10-24T21:32:03Z","updated_at":"2013-10-24T21:32:03Z","value":"{\"a\":\"b\"}","url":"http://s3.amazonaws.com/store.getchute.com/526991d38a9eb036ef000003"}}'
  recorded_at: Thu, 24 Oct 2013 21:32:04 GMT
[...]
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns/312/store/temp/asd
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":"Not Found","version":2,"code":404,"href":"https://api.getchute.com/v2/campaigns/312/store/temp/asd"}}'
  recorded_at: Thu, 24 Oct 2013 21:33:29 GMT
[...]
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns/312/store/private/asd
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":"Not Found","version":2,"code":404,"href":"https://api.getchute.com/v2/campaigns/312/store/private/asd"}}'
  recorded_at: Thu, 24 Oct 2013 21:33:31 GMT
[...]
- request:
    method: get
    uri: https://api.getchute.com/v2/campaigns/312/store/public/asd
    body:
      encoding: UTF-8
      string: ! '{}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":"Not Found","version":2,"code":404,"href":"https://api.getchute.com/v2/campaigns/312/store/public/asd"}}'
  recorded_at: Thu, 24 Oct 2013 21:33:32 GMT
- request:
    method: put
    uri: https://api.getchute.com/v2/campaigns/312/store/public/asd
    body:
      encoding: UTF-8
      string: ! '{"b":"c"}'
    headers:
      Authorization:
      - Bearer API KEY
      Content-Type:
      - application/json
      Accepts:
      - application/json
      X-Client-Id:
      - 508fc620018d162a070000d6
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '404'
    body:
      encoding: US-ASCII
      string: ! '{"response":{"error":"Not Found","version":2,"code":404,"href":"https://api.getchute.com/v2/campaigns/312/store/public/asd"}}'
  recorded_at: Thu, 24 Oct 2013 21:33:33 GMT
recorded_with: VCR 2.5.0
