--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Album for Comments\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"b8c7b5161eee65685c205f88654e35c3\""
      Last-Modified: 
      - Tue, 04 Dec 2012 14:20:44 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4985"
      X-Available-Monthly-Calls: 
      - "3719979"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Comments&name=Album+for+Comments\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719979,\"max_hourly_calls\":5000,\"available_hourly_calls\":4985}},\"data\":{\"id\":2330750,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2330750\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2330750/assets\",\"title\":\"Asset Listing\"}},\"created_at\":\"2012-12-04T14:20:44Z\",\"updated_at\":\"2012-12-04T14:20:44Z\",\"shortcut\":\"9MkKgvhn\",\"name\":\"Album for Comments\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Tue, 04 Dec 2012 14:20:48 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2330750/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":[\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"e109632f58397e26b953c827c1486da8\""
      Last-Modified: 
      - Thu, 29 Nov 2012 13:55:20 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4984"
      X-Available-Monthly-Calls: 
      - "3719978"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2330750/assets/import?&urls%5B%5D=http%3A%2F%2Ffarm9.staticflickr.com%2F8194%2F8141607138_bfaea3afd9.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719978,\"max_hourly_calls\":5000,\"available_hourly_calls\":4984}},\"data\":[{\"id\":72569916,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/72569916\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/72569916/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-11-29T13:55:20Z\",\"updated_at\":\"2012-11-29T13:55:20Z\",\"thumbnail\":\"http://media.getchute.com/media/4UuKweohy/75x75\",\"url\":\"http://media.getchute.com/media/4UuKweohy\",\"shortcut\":\"4UuKweohy\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://farm9.staticflickr.com/8194/8141607138_bfaea3afd9.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/4UuKweohy\"},\"service\":\"uploaded\"}]}"
  recorded_at: Tue, 04 Dec 2012 14:20:49 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2330750/assets/72569916/comments
    body: 
      encoding: UTF-8
      string: "{\"comment_text\":\"My Test Comment for listing\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"f482dfd9cd165d8ad46d5a89d3a38415\""
      Last-Modified: 
      - Tue, 04 Dec 2012 14:20:46 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4983"
      X-Available-Monthly-Calls: 
      - "3719977"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Comment Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2330750/assets/72569916/comments?comment%5Bcomment_text%5D=My+Test+Comment+for+listing&comment_text=My+Test+Comment+for+listing\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719977,\"max_hourly_calls\":5000,\"available_hourly_calls\":4983}},\"data\":{\"id\":596,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/comments/596\",\"title\":\"Comment Details\"}},\"created_at\":\"2012-12-04T14:20:46Z\",\"updated_at\":\"2012-12-04T14:20:46Z\",\"comment_text\":\"My Test Comment for listing\",\"name\":null,\"email\":null}}"
  recorded_at: Tue, 04 Dec 2012 14:20:50 GMT
[...]
