--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.getchute.com/v2/me
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"b16f7001f3d9f926f4c01e7206b8c653\""
      Last-Modified: 
      - Sat, 15 Sep 2012 10:55:51 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4954"
      X-Available-Monthly-Calls: 
      - "3719767"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"User Details\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/me?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719767,\"max_hourly_calls\":5000,\"available_hourly_calls\":4954}},\"data\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"}}"
  recorded_at: Thu, 13 Dec 2012 14:42:30 GMT
- request: 
    method: get
    uri: https://api.getchute.com/v2/users/545
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/jso[...]
