--- 
http_interactions: 
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums
    body: 
      encoding: UTF-8
      string: "{\"name\":\"Album for Hearts\"}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"3c13b937dda04707448b0bf15e487f6c\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:22 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4970"
      X-Available-Monthly-Calls: 
      - "3719783"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Album Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums?album%5Bname%5D=Album+for+Hearts&name=Album+for+Hearts\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719783,\"max_hourly_calls\":5000,\"available_hourly_calls\":4970}},\"data\":{\"id\":2336718,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/albums/2336718\",\"title\":\"Album Details\"},\"assets\":{\"href\":\"http://api.getchute.com/v2/albums/2336718/assets\",\"title\":\"Asset Listing\"},\"parcels\":{\"href\":\"http://api.getchute.com/v2/albums/2336718/parcels\",\"title\":\"Parcel Listing\"}},\"created_at\":\"2012-12-13T14:42:22Z\",\"updated_at\":\"2012-12-13T14:42:22Z\",\"shortcut\":\"9NT0eobx\",\"name\":\"Album for Hearts\",\"description\":null,\"user\":{\"id\":545,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/users/545\",\"title\":\"User Details\"}},\"created_at\":\"2012-01-17T19:53:39Z\",\"updated_at\":\"2012-09-15T10:55:51Z\",\"name\":\"darko1002001\",\"username\":\"darko1002001\",\"avatar\":\"http://static.getchute.com/v1/images/avatar-100x100.png\"},\"moderate_media\":false,\"moderate_comments\":false,\"counters\":{\"photos\":0,\"videos\":0,\"inbox\":0}}}"
  recorded_at: Thu, 13 Dec 2012 14:42:04 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2336718/assets/import
    body: 
      encoding: UTF-8
      string: "{\"urls\":[\"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg\"]}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"d9bdd7ad9e4993a0c72e3aae6d97ad7d\""
      Last-Modified: 
      - Wed, 05 Dec 2012 14:19:19 GMT
      Status: 
      - "200"
      X-Available-Hourly-Calls: 
      - "4969"
      X-Available-Monthly-Calls: 
      - "3719782"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Imported Assets\",\"version\":2,\"code\":200,\"href\":\"https://api.getchute.com/v2/albums/2336718/assets/import?&urls%5B%5D=http%3A%2F%2Fsphotos-f.ak.fbcdn.net%2Fhphotos-ak-snc6%2F6393_451942991531262_1464781412_n.jpg\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719782,\"max_hourly_calls\":5000,\"available_hourly_calls\":4969}},\"data\":[{\"id\":79517672,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/assets/79517672\",\"title\":\"Asset Details\"},\"exif\":{\"href\":\"http://api.getchute.com/v2/assets/79517672/exif\",\"title\":\"Exif Details\"},\"geo\":{\"href\":\"http://api.getchute.com/v2/assets/79517672/geo\",\"title\":\"Geo Details\"}},\"created_at\":\"2012-12-05T14:19:19Z\",\"updated_at\":\"2012-12-05T14:19:19Z\",\"thumbnail\":\"http://media.getchute.com/media/5nEb6mbik/75x75\",\"url\":\"http://media.getchute.com/media/5nEb6mbik\",\"shortcut\":\"5nEb6mbik\",\"type\":\"image\",\"caption\":null,\"dimensions\":{\"width\":null,\"height\":null},\"location\":null,\"source\":{\"source\":\"imported\",\"source_id\":null,\"source_url\":\"http://sphotos-f.ak.fbcdn.net/hphotos-ak-snc6/6393_451942991531262_1464781412_n.jpg\",\"service\":null,\"import_id\":null,\"import_url\":null,\"original_url\":\"http://media.getchute.com/media/5nEb6mbik\"},\"service\":\"uploaded\"}]}"
  recorded_at: Thu, 13 Dec 2012 14:42:10 GMT
- request: 
    method: post
    uri: https://api.getchute.com/v2/albums/2336718/assets/79517672/hearts
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"df0f53db4471adfeedfd553093a1bae1\""
      Last-Modified: 
      - Thu, 13 Dec 2012 14:42:02 GMT
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4968"
      X-Available-Monthly-Calls: 
      - "3719781"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Heart Details\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2336718/assets/79517672/hearts?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719781,\"max_hourly_calls\":5000,\"available_hourly_calls\":4968}},\"data\":{\"id\":592,\"links\":{\"self\":{\"href\":\"http://api.getchute.com/v2/hearts/592\",\"title\":\"Heart Details\"}},\"created_at\":\"2012-12-13T14:42:02Z\",\"updated_at\":\"2012-12-13T14:42:02Z\",\"identifier\":\"kwfogqomviemiulbzkxq1355409722\",\"album_id\":\"2336718\",\"asset_id\":79517672}}"
  recorded_at: Thu, 13 Dec 2012 14:42:11 GMT
- request: 
    method: get
    uri: https://api.getchute.com/v2/albums/2336718/assets/79517672/hearts
    body: 
      encoding: UTF-8
      string: "{}"
    headers: 
      Authorization: 
      - OAuth fe5d08d828c1d4562e5d2a7bbbb76e7dfa1fbc0932467a7a710bec66935df654
      Content-Type: 
      - application/json
      Accepts: 
      - application/json
      X-Client-Id: 
      - 508fc620018d162a070000d6
  response: 
    status: 
      code: 201
      message: Created
    headers: 
      Content-Type: 
      - application/json; charset=utf-8
      Etag: 
      - "\"003eeb7a84682e3461c3fe05216a39ab\""
      Status: 
      - "201"
      X-Available-Hourly-Calls: 
      - "4967"
      X-Available-Monthly-Calls: 
      - "3719780"
      X-Max-Hourly-Calls: 
      - "5000"
      X-Max-Monthly-Calls: 
      - "3720000"
    body: 
      encoding: US-ASCII
      string: "{\"response\":{\"title\":\"Heart Count\",\"version\":2,\"code\":201,\"href\":\"https://api.getchute.com/v2/albums/2336718/assets/79517672/hearts?\",\"api_limits\":{\"max_monthly_calls\":3720000,\"available_monthly_calls\":3719780,\"max_hourly_calls\":5000,\"available_hourly_calls\":4967}},\"data\":{\"count\":1}}"
  recorded_at: Thu, 13 Dec 2012 14:42:12 GMT
recorded_with: VCR 2.2.5
